In [61]:
import pandas as pd
import matplotlib.pyplot as plt
df  = pd.read_csv('coach_vs_faculty.csv')

In [62]:
df.head()

,Unnamed: 0,YEAR,POSITION_TITLE,PAY_TOTAL_ACTUAL,ANNUAL_RATE,DEPARTMENT_LOCATION_ZIP_CODE,Job
0,965301,2024,Assistant Professor,20880.78,89000.003,U Mass Dartmouth,Faculty
1,1001754,2024,Assistant Professor,23538.48,88400.250,U Mass Lowell,Faculty
2,1019224,2024,Lecturer U of M,1838.72,11951.420,U Mass Amherst,Faculty
3,1229576,2024,Research Professor A,20192.34,75000.000,U Mass Amherst,Faculty
4,1263997,2024,Instructor/Lecturer/Trainer,1978.46,6314.880,U Mass Dartmouth,Faculty

In [63]:
df.size

634221

In [64]:
df['DEPARTMENT_LOCATION_ZIP_CODE'].unique()

array(['U Mass Dartmouth', 'U Mass Lowell', 'U Mass Amherst',
       'U Mass Boston', 'U Mass Worcester'], dtype=object)

In [65]:
df_dartmouth = df[df['DEPARTMENT_LOCATION_ZIP_CODE'] == 'U Mass Dartmouth']
df_lowell = df[df['DEPARTMENT_LOCATION_ZIP_CODE'] == 'U Mass Lowell']
df_amherst = df[df['DEPARTMENT_LOCATION_ZIP_CODE'] == 'U Mass Amherst']
df_boston = df[df['DEPARTMENT_LOCATION_ZIP_CODE'] == 'U Mass Boston']
df_worcester = df[df['DEPARTMENT_LOCATION_ZIP_CODE'] == 'U Mass Worcester']

In [66]:
df_dartmouth.head()

,Unnamed: 0,YEAR,POSITION_TITLE,PAY_TOTAL_ACTUAL,ANNUAL_RATE,DEPARTMENT_LOCATION_ZIP_CODE,Job
0,965301,2024,Assistant Professor,20880.78,89000.003,U Mass Dartmouth,Faculty
4,1263997,2024,Instructor/Lecturer/Trainer,1978.46,6314.880,U Mass Dartmouth,Faculty
14,1912293,2010,Professor,96119.42,98273.500,U Mass Dartmouth,Faculty
37,1912378,2010,Part-Time Lecturer,18208.68,26537.680,U Mass Dartmouth,Faculty
42,1912395,2010,FullTime Lecturer,60392.33,60815.820,U Mass Dartmouth,Faculty

In [67]:
df_amherst['Job'].unique()

array(['Faculty', 'Coach'], dtype=object)

In [68]:
average_pay_for_faculty = df_amherst.loc[df_amherst['Job'] == 'Faculty', 'PAY_TOTAL_ACTUAL'].mean()
average_pay_for_coach = df_amherst.loc[df_amherst['Job'] == 'Coach', 'PAY_TOTAL_ACTUAL'].mean()
print(average_pay_for_faculty)
print(average_pay_for_coach)

76588.27067188353
83679.04985148515

In [69]:
average_pay_for_faculty = df_boston.loc[df_boston['Job'] == 'Faculty', 'PAY_TOTAL_ACTUAL'].mean()
average_pay_for_coach = df_boston.loc[df_boston['Job'] == 'Coach', 'PAY_TOTAL_ACTUAL'].mean()
print(average_pay_for_faculty)
print(average_pay_for_coach)

41722.769838245586
46109.438

In [70]:
df_amherst_coach = df_amherst[df_amherst['Job'] == 'Coach']
unique_coach_positions_amherst = df_amherst_coach['POSITION_TITLE'].unique()
print(unique_coach_positions_amherst)

['Athletic Coach' 'Head Coach, Track' 'Assistant Athletic Coach'
 'Head Basketball Coach' 'Head Football Coach' 'Associate Athletic Coach'
 'Lead Coach' 'Coach/Trainer']

In [71]:
df_lowell_coach = df_lowell[df_lowell['Job'] == 'Coach']
unique_coach_positions_lowell = df_lowell_coach['POSITION_TITLE'].unique()
print(unique_coach_positions_lowell)

['Head Coach' "Head Coach Men's Ice Hockey" 'Associate Head Coach'
 "Asst Women's Basketball Coach" 'Boathouse Dir & Coach Wm Crew'
 "Head Coach Men's Soccer" 'Assistant Head Coach'
 "Asst Coach Women's Basketball" "Head Coach, Women's Volleyball"
 'Head Womans Soccer Coach' "Asst Coach - Men's Basketball"
 'Head Coach - Baseball' "Head Coach of Men's Basketball"
 'Head Softball Coach' "Head Coach -Women's Volleyball"
 "Head Coach - Women's Soccer" 'Head Coach - Fld Hock/Asst Dir'
 "Head Coach -Women's Fld Hockey" 'Head Coach-Men X-Country/Track'
 "Head Coach - Men's Soccer" "Head Coach - Men's Baseball"
 'Boathouse Dir & Coach Wm Row' "Head Coach - Women's Softball"
 "Head Coach- Women's Basketball" "Head Coach -Women's Basketball"
 "Head Coach - Men's Ice Hockey" "Asst Coach-Men's Ice Hockey I"
 "Asst Coach-Men's Ice Hockey II" 'Head Performance Coach'
 "Asst Coach -Women's Basketball" "Asst Coach -Women's Fld Hockey"
 "Head Coach - Men's Basketball" 'Asst Coach(First)-Men Bsktball'
 'Asst Coach(Second)-Men Bskball' "Asst Coach - Women's Soccer"
 "Asst Coach - Men's Soccer" "Head Coach - Men's Lacrosse"
 "Head Coach - Women's Lacrosse" 'Assoc Head Coach-Men Basktball'
 'Asst Coach(Third)-Men Bskball' "Asst Coach - Men's Baseball"
 "Asst Coach - Women's Lacrosse" "Asst Coach -Women's Volleyball"
 "Asst Coach - Men's Lacrosse" 'Assoc Head Coach-M&W Track&Fld'
 "Asst Coach - Women's Softball" 'Asst Sports Performance Coach'
 "Asst Coach - Men's Ice Hockey" 'Assoc Head Coach -W Fld Hockey'
 'Asst Coach-Track&Fld/X-Country' 'Head Rowing Coach&Boathous Mgr'
 'Asst Coach-W Basktb/Recr Coord' 'Recr Coord/Asst Coach-W Basktb'
 "Asst Coach-Men's Ice Hockey" 'Head Sports Performance Coach'
 "Assoc Head Coach -Men's Soccer" 'Assoc Head Coach -Men Lacrosse'
 'Assoc Hd Coach-Mens Ice Hockey' 'Res Site Liaison/Train Coach'
 'Assistant Coach - Baseball' 'Assistant Coach - Field Hockey'
 'Sports Performance Coach' "Assoc Head Coach-Women's Bsktb"
 'Associate Head Coach-Baseball' 'RHSA Acad Prg Success Coach&OS'
 "AssocHeadCoach-Men'sBasketball" 'Student Success Coach']

In [72]:
df_dartmouth_coach = df_dartmouth[df_dartmouth['Job'] == 'Coach']
unique_coach_positions_dartmouth = df_dartmouth_coach['POSITION_TITLE'].unique()
print(unique_coach_positions_dartmouth)

['Academic Coord/Head Coach' 'Aquatics Dir/Hd Coach M&W Swim'
 'Asst Dir Athletics/Head Coach' 'Admin Asst/Head Coach'
 'Athletic Fac Coord/Head Coach' 'Recruiting Coord/Head Coach'
 'Athletic Adminstr/Head Coach' "Head Women's Lax Coach/Evnt As"
 'HD Wmns Swim Coach/Equp/Aq Dir' "Hd Wmn's Lax Coach/Transp Coor"
 'Hybrid HRE Asst-Athletic Coach' 'Hd Coach & Coord Stud Ath Prog'
 'Hd Wo Soc Coach & Coor Spec Ev' 'HeadFootballCoach/AlumniCoord'
 'Asst Football Coach/Intra Coor' 'Game Mgmt/Wrk St Coord/Coach']

In [73]:
df_worcester_coach = df_worcester[df_worcester['Job'] == 'Coach']
unique_coach_positions_worcester = df_worcester_coach['POSITION_TITLE'].unique()
print(unique_coach_positions_worcester)

['Assessment Coach, CCWT']

In [74]:
df_boston_coach = df_boston[df_boston['Job'] == 'Coach']
unique_coach_positions_boston = df_boston_coach['POSITION_TITLE'].unique()
print(unique_coach_positions_boston)

["Head Women's Soccer Coach" 'Head Mens Baseball Coach'
 "Head Women's Ice Hockey Coach" 'Head Hockey Coach'
 'Hd Cross Country & Track Coach' "Head Women's Softball Coach"
 "Head Woman's B-ball Coach" "Head Men's Soccer Coach"
 "Head Coach Men's & Wmns Tennis" 'Co-Head Volleyball Coach'
 'Success Boston Coach' 'Strength & Conditioning Coach'
 "Head Coach, Men's Basketball" 'Coord of Academic Coaching'
 'SBI Transition Coach' "Head Men's Lacrose Coach" 'Head Track Coach'
 'Job Coach' 'Enrollment Coach' 'Early Childhood Leadrshp Coach'
 'Head Volleyball Coach' "Head Women's Basketball Coach" 'Head Coach'
 'Lacrosse Coach']

In [75]:
import pandas as pd

def categorize_title(title):
    if 'Soccer' in title or 'Soc' in title:
        return 'Soccer'
    elif 'Baseball' in title or 'B-ball' in title:
        return 'Baseball'
    elif 'Track' in title:
        return 'Track'
    elif 'Softball' in title:
        return 'Softball'
    elif 'Tennis' in title:
        return 'Tennis'
    elif 'Volleyball' in title:
        return 'Volleyball'
    elif 'Lacrose' in title or 'Lacrosse' in title or 'Lax' in title:
        return 'Lacrose'
    elif 'Basketball' in title:
        return 'Basketball'
    elif 'Hockey' in title:
        return 'Hockey'
    elif 'Football' in title:
        return 'Football'
    elif 'Swim' in title:
        return 'Swimming'
    else:
        return 'Other'
    
df_boston_coach = df_boston[df_boston['Job'] == 'Coach'].copy()

# Apply the function to categorize each position
df_boston_coach['Position Category'] = df_boston_coach['POSITION_TITLE'].apply(categorize_title)

# Count the occurrences of each category
category_counts = df_boston_coach['Position Category'].value_counts()
print(category_counts)

Position Category
Other         88
Hockey        34
Baseball      28
Soccer        25
Track         17
Softball      14
Volleyball    14
Basketball    12
Tennis        11
Lacrose        7
Name: count, dtype: int64

In [76]:
df_boston_coach.tail()

,Unnamed: 0,YEAR,POSITION_TITLE,PAY_TOTAL_ACTUAL,ANNUAL_RATE,DEPARTMENT_LOCATION_ZIP_CODE,Job,Position Category
89815,2330351,2024,Strength & Conditioning Coach,18720.00,70304.000,U Mass Boston,Coach,Other
89908,2331021,2024,Enrollment Coach,18432.74,69503.809,U Mass Boston,Coach,Other
90077,2332140,2024,Job Coach,17122.62,64637.301,U Mass Boston,Coach,Other
90266,2333309,2024,Head Coach,20736.00,77875.201,U Mass Boston,Coach,Other
90344,2333940,2024,Head Coach,19384.60,72800.000,U Mass Boston,Coach,Other

In [78]:
average_pay_by_category = df_boston_coach.groupby('Position Category')['PAY_TOTAL_ACTUAL'].sum()

print(average_pay_by_category)

Position Category
Baseball      1641495.53
Basketball     751802.07
Hockey        1768761.41
Lacrose        311636.66
Other         2841803.28
Soccer        1585489.96
Softball       840227.81
Tennis         479665.38
Track          784965.25
Volleyball     521512.15
Name: PAY_TOTAL_ACTUAL, dtype: float64

In [79]:
df_amherst_coach = df_amherst[df_amherst['Job'] == 'Coach'].copy()


df_amherst_coach['Position Category'] = df_amherst_coach['POSITION_TITLE'].apply(categorize_title)

category_counts = df_amherst_coach['Position Category'].value_counts()

average_pay_by_category = df_amherst_coach.groupby('Position Category')['PAY_TOTAL_ACTUAL'].sum()

print(average_pay_by_category)

Position Category
Basketball    18403830.05
Football       8844819.58
Other         71010501.87
Track          3159856.92
Name: PAY_TOTAL_ACTUAL, dtype: float64

In [80]:
df_lowell_coach = df_lowell[df_lowell['Job'] == 'Coach'].copy()

df_lowell_coach['Position Category'] = df_lowell_coach['POSITION_TITLE'].apply(categorize_title)

category_counts = df_lowell_coach['Position Category'].value_counts()

average_pay_by_category = df_lowell_coach.groupby('Position Category')['PAY_TOTAL_ACTUAL'].sum()

print(average_pay_by_category)

Position Category
Baseball      1491986.47
Basketball    7975232.21
Hockey        9650243.94
Lacrose       3563764.32
Other         4605326.47
Soccer        3056275.26
Softball      1425024.87
Track         2153470.91
Volleyball     661846.54
Name: PAY_TOTAL_ACTUAL, dtype: float64

In [81]:
df_dartmouth_coach = df_dartmouth[df_dartmouth['Job'] == 'Coach'].copy()

df_dartmouth_coach['Position Category'] = df_dartmouth_coach['POSITION_TITLE'].apply(categorize_title)

category_counts = df_dartmouth_coach['Position Category'].value_counts()

average_pay_by_category = df_dartmouth_coach.groupby('Position Category')['PAY_TOTAL_ACTUAL'].sum()

print(average_pay_by_category)

Position Category
Football     161828.00
Lacrose      282176.43
Other       3505407.86
Soccer       123470.93
Swimming     739876.39
Name: PAY_TOTAL_ACTUAL, dtype: float64