In [2]:
import pandas as pd
import matplotlib.pyplot as plt
df  = pd.read_csv('combined_with_departments.csv')

df_filtered = df[df['RATING'] != -1.0]

department_counts = df_filtered['DEPARTMENT'].value_counts()
departments_to_include = department_counts[department_counts >= 25].index

df_filtered_major = df_filtered[df_filtered['DEPARTMENT'].isin(departments_to_include)]
department_rating_avg = df_filtered_major.groupby('DEPARTMENT')['RATING'].mean().reset_index()
department_rating_avg_sorted = department_rating_avg.sort_values('RATING', ascending=False)

# Save to a new CSV file
department_rating_avg_sorted.to_csv('rmp.csv', header=True)

In [3]:
department_rating_avg_sorted

                                  DEPARTMENT    RATING
11                                 Sociology  4.210000
3                                    English  4.035526
1                                    Biology  3.938636
5                                 Management  3.790323
4                                    History  3.776000
9                            Performing Arts  3.775000
10                                Psychology  3.680000
0                       Accounting & Finance  3.676000
6   Management Science & Information Systems  3.168000
2                   Curriculum & Instruction  3.160714
7                                Mathematics  3.100000
8                                    Nursing  2.855000