In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('../data/only_crimes_.csv')

C:\Users\kenic\AppData\Local\Temp\ipykernel_13388\501212508.py:5: DtypeWarning: Columns (0,2,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/only_crimes_.csv')

In [3]:
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I172040657,2629,Harassment,HARASSMENT,C11,397,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Two,MELBOURNE ST,42.291093,-71.065945,"(42.29109287, -71.06594539)"
1,I182061268,3201,Property Lost,PROPERTY,NaN,,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Three,BERNARD,NaN,NaN,NaN
2,I162013546,3201,Property Lost,PROPERTY,B3,433,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Three,NORFOLK ST,42.283634,-71.082813,"(42.28363434, -71.08281320)"
3,I152059178,2647,Other,THREATS TO DO BODILY HARM,C11,359,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Two,WASHINGTON ST,42.293606,-71.071887,"(42.29360585, -71.07188650)"
4,I152049897,3201,Property Lost,PROPERTY,B2,282,NaN,2015-06-15 00:00:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.328663,-71.085634,"(42.32866284, -71.08563401)"

In [4]:
df['DISTRICT'].unique()

array(['C11', nan, 'B3', 'B2', 'A1', 'D4', 'E18', 'D14', 'C6', 'E5',
       'A15', 'A7', 'E13', 'External', 'Outside of'], dtype=object)

In [6]:
df_2023 = df[df['YEAR'] == 2023].copy()
district_counts = df_2023['DISTRICT'].value_counts()
print(district_counts)

district_counts_df = district_counts.reset_index()
district_counts_df.columns = ['DISTRICT', 'COUNT']

district_counts_df.to_csv('../data/mapData_total_2023.csv', index=False)

DISTRICT
D4            5929
A1            5203
B2            4600
C11           4307
B3            3572
C6            3180
D14           2650
E13           2234
E18           2108
E5            1862
A7            1741
A15            578
External        38
Outside of       2
Name: count, dtype: int64

In [7]:
df_2023 = df[(df['YEAR'] == 2023) & (df['OFFENSE_DESCRIPTION']== 'THEFT')].copy()
district_counts = df_2023['DISTRICT'].value_counts()
print(district_counts)

district_counts_df = district_counts.reset_index()
district_counts_df.columns = ['DISTRICT', 'COUNT']

district_counts_df.to_csv('../data/mapData_theft_2023.csv', index=False)

DISTRICT
D4            1291
A1             760
C11            743
C6             656
B2             654
D14            651
B3             419
E13            338
A7             296
E18            282
E5             247
A15            111
External         3
Outside of       1
Name: count, dtype: int64

In [8]:
df_2023 = df[(df['YEAR'] == 2023) & (df['OFFENSE_DESCRIPTION']== 'ASSAULT')].copy()
district_counts = df_2023['DISTRICT'].value_counts()
print(district_counts)

district_counts_df = district_counts.reset_index()
district_counts_df.columns = ['DISTRICT', 'COUNT']

# Export to CSV
district_counts_df.to_csv('../data/mapData_assault_2023.csv', index=False)

DISTRICT
A1            801
D4            709
B2            675
C11           505
C6            486
B3            465
D14           256
E13           223
E18           220
A7            207
E5            128
A15            58
External        6
Outside of      1
Name: count, dtype: int64

In [9]:
df_2023 = df[(df['YEAR'] == 2023) & (df['OFFENSE_DESCRIPTION']== 'HARASSMENT')].copy()
district_counts = df_2023['DISTRICT'].value_counts()
print(district_counts)

district_counts_df = district_counts.reset_index()
district_counts_df.columns = ['DISTRICT', 'COUNT']

district_counts_df.to_csv('../data/mapData_harassment_2023.csv', index=False)

DISTRICT
B2          233
B3          151
C11         134
E5          126
E13         125
D4          109
E18         106
A1           95
C6           84
A7           62
D14          58
A15          23
External      1
Name: count, dtype: int64